#ResponsiveMenu {
  --main-background-color: #35afea;
  --highlight-background-color: #74cdf7;
  --menu-color: white;
  --badge-background-color: #f44;
  --border-color: #aeb7b7;
  --notification-background-color: #fff;
  --unread-notification-background-color: #E5E8E8;
  --main-color: #000;
  background-color: var(--main-background-color);
}
#ResponsiveMenu * {
  box-sizing: border-box;
}
#ResponsiveMenu li > a, #ResponsiveMenu a.content {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--menu-color);
  font-weight: bold;
  letter-spacing: 0.3pt;
}
#ResponsiveMenu li > a:hover, #ResponsiveMenu a.content:hover {
  background-color: var(--highlight-background-color);
}
#ResponsiveMenu span.badge {
  position: absolute;
  top: 3px;
  right: 0px;
  background: var(--badge-background-color);
  font-size: 1rem;
  padding: 5px 7px;
}
#ResponsiveMenu .open > a {
  background-color: var(--highlight-background-color);
}
#ResponsiveMenu .dropdown-menu {
  background-color: var(--main-background-color);
  padding: 0;
}
#ResponsiveMenu .dropdown-menu.notifications {
  min-width: 420px;
  margin-top: 5px;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper {
  overflow: auto;
  max-height: 250px;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper .notification-item {
  padding: 2px;
  margin: 0px;
  background-color: var(--notification-background-color);
  border-bottom: 1px solid var(--border-color);
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper .notification-item .item-title {
  font-size: 1.1rem;
  color: var(--main-color);
  margin: 3px 0px;
  font-weight: bold;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper .notification-item .item-info {
  font-size: 1.2rem;
  color: var(--main-color);
  margin: 5px;
  font-weight: normal;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper .notification-item.sinleer {
  background-color: var(--unread-notification-background-color);
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper.withimage .notification-item {
  display: flex;
  position: relative;
  max-height: 75px;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper.withimage .notification-item .item-image {
  display: flex;
  min-width: 70px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper.withimage .notification-item .item-image img {
  max-height: 100%;
  height: 100%;
  width: auto;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper.withimage .notification-item .item-title {
  font-size: 1.3rem;
  color: var(--main-color);
  margin: 0px;
  padding: 2px 4px;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper.withimage .notification-item .item-date {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 3px;
  color: var(--main-color);
  font-size: 1rem;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-heading, #ResponsiveMenu .dropdown-menu.notifications .notification-footer {
  padding: 2px;
  display: flex;
  justify-content: flex-start;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-heading a, #ResponsiveMenu .dropdown-menu.notifications .notification-footer a {
  color: var(--main-background-color);
}
#ResponsiveMenu .dropdown-menu.notifications .notification-heading a h4, #ResponsiveMenu .dropdown-menu.notifications .notification-footer a h4 {
  font-size: 1.3rem;
  margin: 5px;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-heading a:hover, #ResponsiveMenu .dropdown-menu.notifications .notification-footer a:hover {
  text-decoration: underline;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-heading .menu-title, #ResponsiveMenu .dropdown-menu.notifications .notification-footer .menu-title {
  color: var(--menu-color);
  font-size: 1.5rem;
  padding: 0px 5px;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-footer {
  justify-content: center;
  background-color: var(--menu-color);
  border-top: 1px solid var(--border-color);
}

/*# sourceMappingURL=ResponsiveMenu.css.map */
