#ResponsiveMenu {
  background-color: #35afea;
}
#ResponsiveMenu * {
  box-sizing: border-box;
}
#ResponsiveMenu li > a, #ResponsiveMenu a.content {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  letter-spacing: 0.3pt;
}
#ResponsiveMenu li > a:hover, #ResponsiveMenu a.content:hover {
  background-color: #74cdf7;
}
#ResponsiveMenu span.badge {
  position: absolute;
  top: 3px;
  right: 0px;
  background: #f44;
  font-size: 1rem;
  padding: 5px 7px;
}
#ResponsiveMenu .open > a {
  background-color: #74cdf7;
}
#ResponsiveMenu .dropdown-menu {
  background-color: #35afea;
  padding: 0;
}
#ResponsiveMenu .dropdown-menu.notifications {
  min-width: 420px;
  margin-top: 5px;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper {
  overflow: auto;
  max-height: 250px;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper .notification-item {
  padding: 2px;
  margin: 0px;
  background: #fff;
  border-bottom: 2px solid #E5E8E8;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper .notification-item .item-title {
  font-size: 1.1rem;
  color: #000;
  margin: 3px 0px;
  font-weight: bold;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper .notification-item .item-info {
  font-size: 1.2rem;
  color: #000;
  margin: 5px;
  font-weight: normal;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper .notification-item.sinleer {
  background: #E5E8E8;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper.withimage .notification-item {
  display: flex;
  position: relative;
  max-height: 70px;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper.withimage .notification-item .item-image {
  display: flex;
  min-width: 64px;
  width: 64px;
  height: 64px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper.withimage .notification-item .item-image img {
  max-height: 100%;
  height: 100%;
  width: auto;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper.withimage .notification-item .item-title {
  font-size: 1.3rem;
  color: #000;
  margin: 0px;
  font-weight: bold;
  padding: 3px;
}
#ResponsiveMenu .dropdown-menu.notifications .notifications-wrapper.withimage .notification-item .item-date {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 3px;
  color: #000;
  font-size: 1rem;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-heading, #ResponsiveMenu .dropdown-menu.notifications .notification-footer {
  padding: 2px;
  display: flex;
  justify-content: flex-start;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-heading a, #ResponsiveMenu .dropdown-menu.notifications .notification-footer a {
  color: #35afea;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-heading a h4, #ResponsiveMenu .dropdown-menu.notifications .notification-footer a h4 {
  font-size: 1.3rem;
  margin: 5px;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-heading a:hover, #ResponsiveMenu .dropdown-menu.notifications .notification-footer a:hover {
  text-decoration: underline;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-heading .menu-title, #ResponsiveMenu .dropdown-menu.notifications .notification-footer .menu-title {
  color: #fff;
  font-size: 1.5rem;
  padding: 0px 5px;
}
#ResponsiveMenu .dropdown-menu.notifications .notification-footer {
  justify-content: center;
  background: #fff;
  border-top: 1px solid #E5E8E8;
}

/*# sourceMappingURL=ResponsiveMenu.css.map */
